html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

figure {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

nav {
  border-bottom: 1px solid #e2e2e2;
  background: white;
  width: 100vw;
  display: table;
  padding-bottom: 0.25rem;
  position: fixed;
  top: 0;
  left: 0;
}

nav .left {
  float: left;
  padding: 0.5rem 1rem;
}

nav .right {
  float: right;
  padding-right: 1rem;
}

nav .icon {
  height: 1.15rem;
  margin-right: 0.75rem;
}

nav .logo {
  margin-left: 25%;
}

nav .logo img {
  height: 1.5rem;
  margin-top: 0.45rem;
}

nav .page-name {
  font-weight: bold;
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
}

nav .right button {
  padding: 0.45rem 1rem;
  margin: 0.25rem 0.25rem;
  font-size: 11px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 4px;
}

header {
  padding: 10vh 12.5vw 0;
}

.main-title {
  padding: 0 10vw 2rem;
  font-size: 2.5rem;
  font-style: italic;
  line-height: 1.25;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.img-caption {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  padding-right: 20%;
  color: #666;
}

.img-caption span {
  color: #999;
}

main {
  padding: 0.7rem 12.5vw;
}

.article-heading {
  padding-left: 25%;
  padding-bottom: 2.5rem;
}

.article-heading .article-author {
  font-weight: bold;
  font-size: 0.85rem;
}

.article-heading .date-and-social {
  /* vertical-align: middle; */
}

.date-and-social .article-date {
  float: left;
  font-size: 0.75rem;
}

.icons-container {
  float: right;
  margin-top: -0.5rem;
  margin-right: 25%;
}

.icons-container .icon {
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  width: 15px;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
}

.icons-container .clean-icon {
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
  padding: 5px;
}

.articles-aside {
  padding-left: 25%;
}

.articles-aside > article {
  float: left;
  width: 70%;
}

.articles-aside > aside {
  width: 25%;
  float: right;
  padding-top: 60vh;
}

.articles-aside > aside .side-link {
  display: block;
  clear: both;
  font-size: 0.75rem;
}

aside .side-link span {
  height: 100%;
}

aside .picks-heading {
  font-size: 0.85rem;
  border-bottom: #f6f6f6 1px solid;
  padding-bottom: 0.5rem;
}

.articles-aside aside img {
  width: 75px;
  float: left;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.fig-container {
  display: block;
  clear: both;
  margin: 1rem auto 2.5rem;
}

.fig-container .img-caption {
  margin-left: 1.4vw;
  margin-top: 1rem;
}

.figures {
  width: 100%;
}

.astro {
  width: 22%;
  display: inline-block;
  margin: 0 0 0 2%;
}

.astro-caption {
  font-size: 0.75rem;
  vertical-align: top;
  color: #000;
}

.bicep2 {
  margin: 10px auto 15px;
  width: 65%;
}

.bicep2-img {
  max-width: 100%;
  object-fit: contain;
}

.article-vid {
  width: 640px;
  height: 360px;
  margin-top: 1rem;
  border: none;
}

.article-end {
  margin: 2rem auto 8rem;
  background-color: #6288a5;
  clear: both;
}

.article-end .button {
  padding: 0.1rem 2vw;
  margin: 0.25rem 0.25rem;
  font-size: 11px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  background-color: #6288a5;
  border-radius: 7px;
}

.article-end .icons-container {
  float: right;
  margin-right: 30%;
  margin-top: 0.5rem;
}

.article-end .comment {
  float: left;
}

.extra-links {
  width: 70%;
  margin: 2rem auto;
}

.link-suggestions {
  width: 70%;
  float: left;
}

.suggestion-part {
  border-top: #000 1px solid;
  margin-right: 10%;
}

.suggestion {
  display: inline-block;
  margin: 0 0.5rem 1rem;
  vertical-align: top;
  width: calc(100% / 3 - 1.2rem);
}

.img-suggestion {
  width: 100%;
}

.post-summary {
  display: block;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.post-date {
  color: #666;
  font-size: 0.75rem;
  margin: 0.5rem 0 1rem;
}

.most-popular {
  float: right;
  width: 30%;
}

.suggestion-right {
  border-top: 1px solid rgb(226, 226, 226);
  padding: 10px 0 15px;
  display: block;
  font-size: 0.8rem;
}

.links-title {
  font-size: 0.85rem;
}

.suggested.links-title {
  margin-left: 0.5rem;
}

.links-footer {
  max-width: 65vw;
  margin: 10px auto;
  clear: both;
  margin-bottom: 3rem;
}

.links-footer::before {
  content: "";
  display: block;
  height: 1px;
  margin-top: 0;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-top: 2px solid rgb(226, 226, 226);
}

.bot-logo {
  padding: 1vh 1vw 0;
}

.bot-logo .log-img-bot {
  height: 2rem;
  margin: 0.85rem 0;
}

.bot-logo .go-home-link {
  float: right;
  font-size: 0.75rem;
  margin: 1rem 1rem 0;
  color: rgb(98, 136, 165);
}

.footer-container {
  position: relative;
}

.footer-container .column {
  display: inline-block;
  width: calc(100% / 6 - 0.25rem);
  margin: 0 auto 1rem;
  box-sizing: border-box;
  font-size: 14px;
  vertical-align: top;
}

.footer-container .column:last-child {
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 1rem;
}

.footer-container .footer-title {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0.75rem;
}

.footer-container li {
  padding-bottom: 0.5rem;
}

.bot-icon {
  width: 10px;
}

.fixie {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  border: 1px solid black;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
}
